extends layout.pug

block content
  h2.mt-5= title
  form(method="POST")
    .form-group
      label(for='tutor') Tutor Name
      input#tutor.form-control(type='text', placeholder='Enter tutor name', name="tutor", value=appointment.tutor)
    .form-group
      label(for='student') Student Name
      input#student.form-control(type='text', placeholder='Enter student name', name="student", value=appointment.student)
    .form-group
      label(for='appointmentDate') Appointment Date
      input#appointmentDate.form-control(type='date', placeholder='YYYY-MM-DD', name="appointmentDate", value=appointment.appointmentDate)
    .form-group
      label(for='appointmentTime') Appointment Time
      input#appointmentTime.form-control(type='text', placeholder='HH:mm', name="appointmentTime", value=appointment.appointmentTime)
    .form-group
      label(for='message') Message
      textarea#message.form-control(type='text', placeholder='Enter message', name="message", value=appointment.message)
    button.btn.btn-dark(type='submit')= command
