extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='/login') Logout

block content
  h2.mt-5=title
  table.table.table-striped.table-bordered(style='margin-top: 1.5em')
    thead
      tr
        th(scope='col') Tutor Username
        th(scope='col') Student Username
        th(scope='col') Date
        th(scope='col') Time
        th(scope='col') Message
    tbody
      each appointment in appointments
        tr
          td=appointment.tutor
          td=appointment.student
          td=appointment.appointmentDate
          td=appointment.appointmentTime
          td=appointment.message
  a.btn.btn-secondary(onclick='goBack()', style="color: white") Back
  script.
    function goBack() {
    window.history.back();
    }
