extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='#top') Find Tutors
  li.nav-item
    a.nav-link(href='/student/view/profile/' +username) View Profile
  li.nav-item
    a.nav-link(href='/appointments/view/student/' +username) View Appointments
  li.nav-item
    a.nav-link(href='/login') Logout

block content
  head
    style(type='text/css').
      .login-text {
      color: #343a40;
      margin-top: 2em;
      font-size: 22px;
      }

  body
    p#top.login-text.text-center= message
    h2.mt-5=title
    .dropdown
      button.btn.btn-dark.dropdown-toggle(type='button', data-toggle='dropdown')
        | Filter by Subject
        span.caret
      ul.dropdown-menu
        input#myInput.form-control(type='text', placeholder='Filter by Subject')
        li
          a(href='/tutor/view/subject/English') English
        li
          a(href='/tutor/view/subject/History') History
        li
          a(href='/tutor/view/subject/Calculus') Calculus
        li
          a(href='/tutor/view/subject/Geometry') Geometry
        li
          a(href='/tutor/view/subject/Algebra') Algebra
        li
          a(href='/tutor/view/subject/Computer Science') Computer Science
        li
          a(href='/tutor/view/subject/Biology') Biology
        li
          a(href='/tutor/view/subject/Chemistry') Chemistry
        li
          a(href='/tutor/view/subject/Physics') Physics
    table.table.table-striped.table-bordered(style='margin-top: 1.5em')
      thead
        tr
          th(scope='col') Tutor Name
          th(scope='col') Location
          th(scope='col') Grade
          th(scope='col') Subject
          th(scope='col') Availability
      tbody
        each tutor in tutors
          tr
            td
              a(href='/tutor/view/' + tutor.username)= tutor.first + " " + tutor.last
            td=tutor.location
            td=tutor.grade
            td=tutor.subject
            td=tutor.availability

block scripts
  script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.3.min.js')
  script.
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
      });
      });
