extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='#') Find Tutors
  li.nav-item
    a.nav-link(href='#') Find Students

  	  table.table
  		  thead
  			  tr
  				  th(scope='col') Name
  				  th(scope='col') Location
  				  th(scope='col') Grade
  				  th(scope='col') Subject
  				  th(scope='col') Availability
  		  tbody
  			  Find Tutors to tutor you
  				  tr
  					  td
  						  a(href='#')=tutor.name
  					  td=tutor.location
  					  td=tutor.grade
  					  td=tutor.subject
  					  td=tutor.availability
