extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='/tutor/view') Find Tutors
  li.nav-item
    a.nav-link(href='/student/view/studentdetails/:student_id') View Profile
  li.nav-item
    a.nav-link(href='/student/view/viewstudentappointment') View Appointments
  li.nav-item
    a.nav-link(href='/login') Logout

block content
  head
    style(type='text/css').
      .login-text {
      color: #f7be71;
      margin-top: 2em;
      font-size: 22px;
      }

  body
    p.login-text.text-center= message
    h2.mt-5=title
    .dropdown
      button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
        | Filter by Subject
        span.caret
      ul.dropdown-menu
        input#myInput.form-control(type='text', placeholder='Filter by Subject')
        li
          a(href='#') English
        li
          a(href='#') History
        li
          a(href='#') Calculus
        li
          a(href='#') Geometry
        li
          a(href='#') Algebra 
        li
          a(href='#') Computer Science
        li 
          a(href='#') Biology
        li 
          a(href='#') Chemistry
        li 
          a(href='#') Physics
    table.table.table-striped.table-bordered(style='margin-top: 1.5em')
      thead
        tr
          th(scope='col') Tutor ID
          th(scope='col') Location
          th(scope='col') Grade
          th(scope='col') Subject
          th(scope='col') Availability
      tbody
        each tutor in tutors
          tr
            td
              a(href='/tutor/view/' + tutor.id)= tutor.user
            td=tutor.location
            td=tutor.grade
            td=tutor.subject
            td=tutor.availability

block scripts
  script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.3.min.js')
  script.
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $(".dropdown-menu li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
      });
      });
