extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='/tutor/view') Find Tutors
  li.nav-item
    a.nav-link(href='/student/view') Find Students
  li.nav-item
    a.nav-link(href='/tutor/new') Create Tutor Profile
  li.nav-item
    a.nav-link(href='/student/new') Create Student Profile
  li.nav-item
    a.nav-link(href='/login') Logout

block content
  h2.mt-5=title
  table.table.table-striped.table-bordered(style='margin-top: 1.5em')
    thead
      tr
        th(scope='col') Name
        th(scope='col') Location
        th(scope='col') Grade
        th(scope='col') Subject
        th(scope='col') Availability
    tbody
      each student in students
        tr
          td
            a(href='/student/view/' + student.id)= student.name
          td=student.location
          td=student.grade
          td=student.subject
          td=student.availability
