extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='#') Find Tutors
  li.nav-item
    a.nav-link(href='#') Find Students

block content
  h2.mt-5=title
  table.table.table-striped.table-bordered(style='margin-top: 1.5em')
    thead
      tr
        th(scope='col') Name
        th(scope='col') Location
        th(scope='col') Grade
        th(scope='col') Subject
        th(scope='col') Availability
    tbody
      each tutor in tutors
        tr
          td=tutor.name
          td=tutor.location
          td=tutor.grade
          td=tutor.subject
          td=tutor.availability
