extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='../') About
  li.nav-item
    a.nav-link(href='./login') Login

block content
  head
    style(type='text/css').
      body{
      color: #000;
      background: #FFF;
      font-family: 'Roboto', sans-serif;
      }
      .form-control{
      height: 40px;
      box-shadow: none;
      color: #000;
      }
      .form-control:focus{
      border-color: #5cb85c;
      }
      .form-control, .btn{
      border-radius: 3px;
      }
      .signup-form{
      width: 400px;
      margin: 0 auto;
      padding: 30px 0;
      }
      .signup-form h2{
      color: #636363;
      margin: 0 0 15px;
      position: relative;
      text-align: center;
      }
      .signup-form h2:before, .signup-form h2:after{
      content: "";
      height: 2px;
      width: 30%;
      background: #2e3192;
      position: absolute;
      top: 50%;
      z-index: 2;
      }
      .signup-form h2:before{
      left: 0;
      }
      .signup-form h2:after{
      right: 0;
      }
      .signup-form .hint-text{
      color: #999;
      margin-bottom: 30px;
      text-align: center;
      }
      .signup-form form{
      color: #999;
      border-radius: 3px;
      margin-bottom: 15px;
      background: #f2f3f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
      }
      .signup-form .form-group{
      margin-bottom: 20px;
      }
      .signup-form input[type="checkbox"]{
      margin-top: 3px;
      }
      .signup-form .btn{
      font-size: 16px;
      font-weight: bold;
      min-width: 140px;
      outline: none !important;
      }
      .signup-form .row div:first-child{
      padding-right: 10px;
      }
      .signup-form .row div:last-child{
      padding-left: 10px;
      }
      .signup-form a{
      color: #fff;
      text-decoration: underline;
      }
      .signup-form a:hover{
      text-decoration: none;
      }
      .signup-form form a{
      color: #5cb85c;
      text-decoration: none;
      }
      .signup-form form a:hover{
      text-decoration: underline;
      }
      .login-text {
      color: #343a40;
      }
  body
    .signup-form
      form(method='post')
        h2 Register
        p.login-text.text-center= message
        p.hint-text Create your account for Find my Tutor.
        .form-group
          input.form-control(type='text' name='username' placeholder='Username' required='required' value=register.username)
        .form-group
          input.form-control(type='email' name='email' placeholder='Email' required='required' value=register.email)
        .form-group
          select#role.custom-select.form-control(name="role", value=register.role)
            option(selected='') Tutor or Student?
            option(value='tutor') Tutor
            option(value='student') Student
        .form-group
          input#password.form-control(type='password' name='password' placeholder='Password' required='required' value=register.password)
        .form-group
          input#confirm.form-control(type='password' name='confirm' placeholder='Confirm Password' oninput='check(this)' required='required' value=register.confirm)
          script(language='javascript' type='text/javascript').
            function check(input) {
            if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
            } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
            }
            }
        .form-group
          button.btn.btn-success.btn-lg.btn-block(type='submit') Register Now
        p.text-center
          a(href='./login' style='color: #343a40') Already have an account? Login here
