extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='#') Find Tutors
  li.nav-item
    a.nav-link(href='#') Find Students

block content
  h1.mt-5= title
    form(method="POST")
      .form-group
        label(for='name') Name
        input#name.form-control(type='text', placeholder='Enter Name', name="name", value=student.name)
      .form-group
        label(for='location') Location
        input#location.form-control(type='text', placeholder='Enter Location', name="location", value=student.location)
      .form-group
        label(for='grade') Grade Level
        select#studentGrade.form-control(name="grade", value=student.grade)
          option(selected='') Select grade...
          option(value='9') 9th
          option(value='10') 10th
          option(value='11') 11th
          option(value='12') 12th
      .form-group
        input#studentAvailability.form-control(type='checkbox' name="monday" value=student.availability)
        label(for='monday') Monday
        input#studentAvailability.form-control(type='checkbox' name="tuesday" value=student.availability)
        label(for='tuesday') Tuesday
        input#studentAvailability.form-control(type='checkbox' name="wednesday" value=student.availability)
        label(for='wednesday') Wednesday
        input#studentAvailability.form-control(type='checkbox' name="thursday" value=student.availability)
        label(for='thursday') Thursday
        input#studentAvailability.form-control(type='checkbox' name="friday" value=student.availability)
        label(for='friday') Friday
        input#studentAvailability.form-control(type='checkbox' name="saturday" value=student.availability)
        label(for='saturday') Saturday
        input#studentAvailability.form-control(type='checkbox' name="sunday" value=student.availability)
        label(for='sunday') Sunday
      button.btn.btn-primary(type='submit') Submit Profile
