extends layout.pug

block content
  h1.mt-5= title
    form(method="POST")
      .form-group
        label(for='tutorName') Name
        input#name.form-control(type='text' placeholder='Enter Name' name="name" value=tutor.name)
      .form-group
        label(for='location') Location
        input#author.form-control(type='text', placeholder='Enter Location', name="location", value=tutor.location)
      .form-group
        label(for='grade') Tutor Grade Level
        select#studentGrade.form-control(name="grade", value=tutor.grade)
          option(selected='') Select grade...
          option(value='9') 9th
          option(value='10') 10th
          option(value='11') 11th
          option(value='12') 12th
          option(value='9-10') 9th-10th
          option(value='11-12') 11th-12th
          option(value='9-12') 9th-12th
      .form-group
         input#tutorAvailability.form-control(type='checkbox' name="monday" value=tutor.availability)
         label(for='monday') Monday
         input#tutorAvailability.form-control(type='checkbox' name="tuesday" value=tutor.availability)
         label(for='tuesday') Tuesday
         input#tutorAvailability.form-control(type='checkbox' name="wednesday" value=tutor.availability)
         label(for='wednesday') Wednesday
         input#tutorAvailability.form-control(type='checkbox' name="thursday" value=tutor.availability)
         label(for='thursday') Thursday
         input#tutorAvailability.form-control(type='checkbox' name="friday" value=tutor.availability)
         label(for='friday') Friday
         input#tutorAvailability.form-control(type='checkbox' name="saturday" value=tutor.availability)
         label(for='saturday') Saturday
         input#tutorAvailability.form-control(type='checkbox' name="sunday" value=tutor.availability)
         label(for='sunday') Sunday
      button.btn.btn-primary(type='submit') Submit Profile
