extends layout.pug

block links
  link(rel='stylesheet', href='https://formden.com/static/cdn/bootstrap-iso.css')
  link(rel='stylesheet', href='https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css')

block navelements
  li.nav-item
      a.nav-link(href='/login') Logout

block content
  h3.mt-5= title
  link(rel='stylesheet', href='https://formden.com/static/cdn/bootstrap-iso.css')
  link(rel='stylesheet', href='https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css')
  style.
    .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}
  // HTML Form (wrapped in a .bootstrap-iso div)
  .bootstrap-iso
    .container-fluid
      .row
        .col-md-6.col-sm-6.col-xs-12
          form(method='post')
            .form-group
              label.control-label.requiredField(for='first')
                | First Name
                span.asteriskField
                  | *
              .input-group
                input#first.form-control(name='first', placeholder='Enter first name', required='required', type='text', value=tutor.first)
            .form-group
                label.control-label.requiredField(for='last')
                  | Last Name
                  span.asteriskField
                    | *
                .input-group
                  input#last.form-control(name='last', placeholder='Enter last name', required='required', type='text', value=tutor.last)
            .form-group
                label.control-label.requiredField(for='username')
                  | Username
                  span.asteriskField
                    | *
                .input-group
                  input#username.form-control(name='username', placeholder='Enter user name', required='required', readonly='readonly', type='text', value=username)
            .form-group
              label.control-label.requiredField(for='location')
                | Location
                span.asteriskField
                  | *
              .input-group
                .input-group-addon
                  i.fa.fa-map
                input#location.form-control(name='location', placeholder='Enter Location', required='required', type='text', value=tutor.location)
            .form-group
              label.control-label.requiredField(for='grade')
                | Tutor Grade
                span.asteriskField
                  | *
              select#grade.select.form-control(name='grade', value=tutor.grade)
                option(value='9th')
                  | 9th
                option(value='10th')
                  | 10th
                option(value='11th')
                  | 11th
                option(value='12th')
                  | 12th
                option(value='9th-10th')
                  | 9th-10th
                option(value='11th-12th')
                  | 11th-12th
                option(value='9th-12th')
                  | 9th-12th
              span#hint_grade.help-block
                | Please enter what grade you are in.
            .form-group
              label.control-label.requiredField(for='subject')
                | Tutor Subject
                span.asteriskField
                  | *
              select#subject.select.form-control(name='subject', value=tutor.subject)
                option(value='English')
                  | English
                option(value='History')
                  | History
                option(value='Calculus')
                  | Calculus
                option(value='Geometry')
                  | Geometry
                option(value='Algebra')
                  | Algebra
                option(value='Computer Science')
                  | Computer Science
                option(value='Biology')
                  | Biology
                option(value='Chemistry')
                  | Chemistry
                option(value='Physics')
                  | Physics
              span#hint_subject.help-block
                | Please select the subject you need help with.
            .form-group
              label.control-label.requiredField(for='availability')
                | Availability
                span.asteriskField
                  | *
              select#availability.select.form-control(name='availability', value=tutor.availability)
                option(value='Monday')
                  | Monday
                option(value='Tuesday')
                  | Tuesday
                option(value='Wednesday')
                  | Wednesday
                option(value='Thursday')
                  | Thursday
                option(value='Friday')
                  | Friday
                option(value='Saturday')
                  | Saturday
                option(value='Sunday')
                  | Sunday
              span#hint_availability.help-block
                | Please select when you are available.
            .form-group
              div
                button.btn.btn-primary(name='submit', type='submit')
                  | Submit Profile
