extends layout.pug

block navelements
  li.nav-item
    a.nav-link(href='/tutor/view') Find Tutors
  li.nav-item
    a.nav-link(href='/student/view') Find Students
  li.nav-item
    a.nav-link(href='/tutor/new') Create Tutor Profile
  li.nav-item
    a.nav-link(href='/student/new') Create Student Profile
  li.nav-item
    a.nav-link(href='/login') Logout

block content
  .container
    .row
      .col-md-5.toppad.pull-right.col-md-offset-3
        a(href='/views/tutor-profile-form') Edit Profile
        a(href='/views/delete') Delete Profile
        br
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
        .panel.panel-info
          .panel-heading
            h3.panel-title Tutor Profile
          .panel-body
            .row
              .col-md-9.col-lg-9
                table.table.table-tutor-information
                  tbody
                    tr
                      td Name:
                      td=tutor.name
                    tr
                      td Location:
                      td=tutor.location
                    tr
                      td Grade:
                      td=tutor.grade
                    tr
                    tr
                      td Subject:
                      td=tutor.subject
                    tr
                      td Availability:
                      td=tutor.availability
                    tr
                    tr
                      td Rating:
                      td=tutor.rate
                    tr
                a.btn.btn-primary(href='#') Rate Me
